body {
  margin:0;
  display:block;
}
#header{
  display:flex;
  align-items:center;
  position:fixed;
  z-index:5;
  width:100%;
  height:100px;
  border-bottom:1px solid black;
  font-family:Verdana;
  font-size:14px;
  font-weight:bold;
  background-color:white;
  margin:-118px;
margin-left:auto;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow:1;
  padding-left:30px;

}

.logo span{
  color:MediumAquamarine;

}

 span{
  font-size:14px;
}

.logo img {
    width: 70px;
    height: 60px;
    margin-right: 12px;
  }
  #header #nav{
    display:inline-block;



  }
#nav a{
  padding-right:40px;

}


  #maincontainer{
    display:flex;
    justify-content:center;
    padding-bottom:70px;
    position:relative;
    top:60px
  width:1232px;
  margin:0 auto 78px 28px;
  margin-top:116px;

  }


a{
  color:black;

}
p{
  font-family:Georgia;
  font-size:17px;
  color:black;
}

#title1 #title3 #title4 #title6{
  display:flex;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}

#title1{
  background-image:url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png");
  width: 630px;
      margin-top: 0;
      font-size: 40px;
      text-align: left;
      height:300px;
      display:block;

}

#title1 p{
  font-family: Georgia;
  font-weight: bold;
  font-size: 40px;
  color: white;

  margin:16px;
  display:block;
  width:630px;
  height:300px;
}

#title3{
  background-image:url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png");
      height:300px;
      width:300px;
      margin-top: 15px;
display:inline-block;

}

#title3 p{
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;
}
#title4{
  background-image:url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png");
height:300px;
width:300px;
margin-top:15px;
margin-left:20px;
display:inline-block;
}

#title4 p{
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;
}
#title5{
width:300px;
}
#title6{
  background-image:url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-1.png");
height:300px;
width:300px;
margin-top:15px;
}

#title6 p{
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;
}
#title7 .cookie{
  display:block;
  padding:11px 20px;
  border-bottom:1px solid black;
  background-color:WhiteSmoke;
  font-family:verdana;
  font-size:12px;
  color:DimGray;
}
#title7 h3{
  font-size:16px;
  font-weight:bold;
  text-align:center;
}

.column.large .column.medium .column.small{
  display:flex;
  flex-direction:column;


}

.column.large{

  width:630px;
margin-right:32px;
}

.column.medium{

  width:300px;
  margin-right:32px;
}

.column.small{

  width:240px;
  margin-right:32px;
}
#paragraph2{
  display:inline-block;
  padding-right:20px;
  height:250px;
  width:300px;
}
#paragraph3{
  display:inline-block;
  height:250px;
  width:300px;
}
#paragraph3 h2{
  margin:0;
}

#footer{
  display:flex;
  align-items:center;
  justify-content:center;
  flex-direction:column;
  width:100%;
  height:325px;
  background-color:MediumAquamarine;
  margin:auto;
  font-family:verdana;
  font-size:12px;
}

.info{
display:block;

}
#footer .title{
  display: inline-block;
    padding-right: 25px;
    border-right: 2px solid white;
    font-family: Georgia;
    font-size: 16px;
    font-weight: bold;
    color: white;
}
#footer .nav{
  display: inline-block;
    padding-left: 25px;

}

#nav span{
  display: inline-block;
    padding: 20px 10px;

}
.foot_nav a{

    color: black;
}
.copright{
  display: block;
}
