
html{
  font-family:'Roboto', sans-serif;
  font-size:16px;
display:inline-block;
}

body{
  display:block;
  margin:0px;
}

h1, h2, h3{
  color:#4A4A4A;
}

.site-container{
  width:100%;
}

header{
  display:flex;
  background-color:white;
  height:64px;
  padding:0px 24px;
justify-content:space-between;
align-items: center;
background-color:white;


}
/*logo text*/
header .logo-name1, .logo-name2{
  text-transform: uppercase;
line-height: 32px;
font-size:1.5rem;
}
.logo-name1{
  font-weight:bold;
  color:#4A4A4A
}

.logo-name2{
  color:#9B9B9B;
  font-weight:lighter;
}

.logo{
  display:flex;
  align-items:center;

}
/*logo image*/
.logo-img img{
  height:2.5rem;
}
/*navigation*/
nav li, footer li{
  display:inline;
padding-left:16px;
color:#4A4A4A;
}

.section1{
  display:flex;
  background-color:#D8D8D8;
  display:inline-block;
  width:100%;

}
/*section 1 photo caption*/
.caption{
  display:flex;
  flex-direction:column;
  justify-content:center;
  max-width:35%;
  width:275px;
  padding-right:15px;
  padding-top:130px;
  padding-bottom:130px;
  margin:0 auto;

}
/*section 1 right titles*/
.sec1-title{
font-size:1.1rem;
font-weight:bold;
}

.sec1-subtitle{
  font-size:.6rem;
  display:flex;
  font-weight:100;
}
/*section 1 button*/
.button{
  display:flex;
  justify-content: center;
  color:white;
  background-color:#4A4A4A

}

/*image widths*/
.section1, .section2, .main-imgs img{
  max-width:100%;
}

.section4{
  max-width:100%;
}
/*image containers*/
.section1 .main-imgs, .section2 .main-imgs{
  width:60%;
  margin-right:40px;
}

.section4 .main-imgs{
  width:60%;
  margin-right:40px;
}


/*image properties*/
.main-imgs img{

  padding:32px 24px;
float:left;

}
/*section 2 container*/
.section2{
  float:left;
  display:flex;
clear:both;
}

.section4{
  float:left;
  display:flex;
  clear:both;
  padding-bottom:32px;
}

/*section 2 under photo title*/
.sec2-title{
  font-size:1.3rem;
  margin-top:32px;
margin-bottom:32px;
}

/*section 2 photo caption*/
.caption2{
color:#4A4A4A;
  margin-left:24px;

}

/*caption 2 font size*/

.sec2-subtitle{
  width:100%;
  font-size:1.13rem;
}

/*subtitle author*/
.author{
  font-size:1.2rem;
  padding-bottom:64px;
}

/*event list*/
.newsfeed{
  display:flex;
  float:right;
  flex-direction:column;
  max-width:40%;
  border-left: 1px solid #D8D8D8;
padding-top:15px;
width:523px;
}

.exhibitfeed{
  display:flex;
  float:right;
  flex-direction:column;
  max-width:40%;


padding-left:24px;
width:523px;
}

/*individual news story dimentions*/
.news-story{
  display:flex;
  border-bottom:3px double #D8D8D8;
  padding-bottom:16px;
  width:100%;
  align-items:center;
}

.exhibit-story{
  display:flex;

  padding-bottom:16px;
  width:100%;
  align-items:center;
}

/*event image container*/
.news-img{
  max-width:35%;
  height:auto;
}

/*event images*/


.news-img img{
  float:left;
  max-width:100%;
  height:auto;
  padding-top:16px;
padding-left:16px;
}

/*event captions*/
.news-captn{
  max-width:65%;
  width:300px;
padding-left:32px;
padding-top:16px;
  }

  /*event direction for page*/
.news-captn, .news-img img{
  display:flex;
  flex-direction:column;
  margin:0 auto;
}

/*time or date for events*/
.news-date p{
  margin-top:8px;
  line-height:1.5;
  color:#4A4A4A;
}
/*caption text size*/
.news-captn p{
  font-size:1.2rem;
  font-weight:lighter;
  color:#4A4A4A;
}
/*"read more" text*/
.news-link p{
  margin-top:8px;
  color:lightblue;
}

/*bottom story with different background*/
.news-story3{
  display:flex;
  background-color:#D8D8D8;
  padding-bottom:16px;
  width:100%;
  align-items:center;
}

.section3{
  display:flex;
  padding:32px 72px;
  clear:both;
  background-color:#D8D8D8;
  flex-direction:column;
  align-items:center;
}

.courses-display{
  display:flex;
  flex-flow: row wrap;
  justify-content:center;
}
.courses{
width:30%;
margin:16px 16px;
background-color:white;}

.courses-img img{
  height:auto;
  width:100%;
}


.courses-word{
  text-transform:uppercase;

}

.courses-desc{
  padding-left:16px;
}

.courses-word p, .courses-names p{
  font-size:1.3rem;
  padding-bottom:8px;
  color:#7F7F7F;
}

.section-title{
  display:flex;
  justify-content:center
}

video{
  width:100%;
  margin-left:24px;
}

footer p, footer li{
  color:#4A4A4A;
}

footer{
  display:flex;
  background-color:white;
  height:64px;
  padding:16px 24px;
  justify-content:space-between;
  align-items:center;
  border-top:1px solid #D8D8D8;
}
@media (max-width: 844px) {
  .logo-name1, .logo-name2 {
    display: none;
  }
}
@media (max-width: 844px){
.section1 .main-imgs, .section2 .main-imgs, .main-imgs img, .caption{

    width:100%;
    padding:0;

  }
}
@media (max-width:844px){
  .caption{
    max-width:80%;
    padding-bottom:35px;
  }
}
@media (max-width:844px){
  .section2{
    flex-direction:column;
  }
}

@media (max-width:844px){
  .newsfeed{
    max-width:100%;
    border-left: 1px solid #D8D8D8;
  padding-top:15px;

  }
}
@media (max-width:844px){
.news-story{
flex-direction:column;
  border-bottom:3px double #D8D8D8;
  padding-bottom:16px;
  width:100%;
  align-items:center;
}
}
@media (max-width:844px){
.news-img, .news-img img{
  display:none;
}
}
@media(max-width:844px){
  .news-img-mobile{
  max-width:100%;
  height:auto;
}
.news-img-mobile img{
  float:left;
  padding-top:0;
  max-width:100%;
  height:auto;
  padding-top:16px;
  padding-left:16px;
}

}
@media(max-width:845px){
  .news-img-mobile, .news-img-mobile img{
    display:none;
  }
}

@media (max-width:844px){
.news-captn, .news-img-mobile img{
padding-top:32px;
}
}
