html{
  font-family:helvetica;
  font-size:22px;
  color:seashell;
  opacity:0.9;
  text-align:center;
background-color:black;
}


  #top_image{
    background-image:url("../resources/images/mission-background.jpg");
height:700px;
width:1200px;
margin:0 auto;
}

#maincontainer .description, .title{
  width:1000px;
display:flex;
flex-direction:column;
justify-content:center;
  margin:53px auto 0 auto;


}

.description h4{
  margin-top:-69px;
}

#header{
  display:flex;
  justify-content:center;
  flex-wrap:wrap;
  background-color:black;
  position:fixed;
  height:69px;
  border-bottom:1px solid seashell;
  width:100%;
  z-index:1;
  align-items:center;
margin-left:-8px;
margin-top:-8px;

}
.logo{
  display:inline-block;
  justify-content:center;
}
.logo img{

margin-left:10px;
  height:50px;

}
#nav{

  text-align:right;
  flex-grow:1;
margin-right:10px;
}
#nav span{
  display:inline-block;
  padding: 20px 10px;
}

#nav a{
  text-decoration:underline;
  color:seashell;

}
#top_image .title{
  vertical-align: middle;
}
.teaom img{
display:flex;
justify:content:center;
  height:200px;
  width:300px;
  display:inline-block;

}
.teaom{
  display:inline-block;
  margin-right:25px;
}
.teaom .tea_name h4{
  margin-top:10px;
}
#location{
  display:block;
  padding-top:70px;
  background-image:url("../resources/images/locations-background.jpg");
  height:500px;

background-repeat:no-repeat;
background-position:center;

}

#location .address{
  display:flex;
  flex-direction:column;
  width:300px;
  padding-top:10px;

  margin-bottom:5px;
  opacity:1;
  background-color:black;
justify-content:center;


}
#add_contain{

}
#add_contain .address{
  display:flex;
  justify-content:center;
  flex-wrap:wrap;
display:inline-block;
margin-right:40px;
}
.address p{
  margin-top:40px;
}

#add_contain{
  width:103%;
}
